{%extends "index.html"%}
{% block encabezado%}
    {%include "encabezado.html"%}
{%endblock%}
{% block menu%}
    {%include "menu.html"%}
{% endblock %}
{% block contenido %}
<div class="w-50 mt-3 " style="margin:0 auto">

    <form action="/agregarProducto/" method="post" enctype="multipart/form-data" class="was-validated">
        <div>
            <h1 class="text-center text-bg-dark">Registrar Producto</h1>
        </div>
        {% csrf_token %}
        <div class="mb-3">
            <label for="txtCodigo">Codigo: </label>
            <input type="number" name="txtCodigo" id="txtCodigo" 
            class="form-control" value="{{producto.proCodigo}}" required>
        </div>

        <div class="mb-3">
            <label for="txtNombre">Nombre</label>
            <input type="text" name="txtNombre" id="txtNombre"
            class="form-control" value="{{producto.proNombre}}"required>
        </div>
        <div class="mb-3">
            <label for="txtPrecio">Precio</label>
            <input type="number" name="txtPrecio" id="txtPrecio" 
            class="form-control" value="{{producto.proPrecio}}" required>
        </div>
        
         <div class="form-floating mb-3">
            <input type="file" name="fileFoto" id="fileFoto" class="form-control redondeado" accept=".jpg">
            <label for="fileFoto" class="fw-bold" style="color:black;">Foto (jpg):</label>
        </div>
    
    
        <div class="mb-3">
            <label for="cbCategoria">Categoria</label>
            <select name="cbCategoria" id="cbCategoria" class="form-select" required>
                <option value="">Seleccione</option>
                {% for categoria in listaCategorias %}
                <option value="{{categoria.id}}">{{categoria.catNombre}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button class="btn btn-success fw-bold" style="color: white;">Agregar</button>
           
        </div>
    </form>


    {% if mensaje %}
    <script>
        Swal.fire("agregar Producto", '{{mensaje}}', "info")

    </script>
    {%endif%}
</div>
{%endblock %}
{% block piepagina %}
{%include "piepagina.html" %}
{%endblock %}